.video-container {
    width: 100%;
}

.video-js {
    width: 100%;
}

.beliefs-img {
    width: 45px;
    height: 45px;
}

.icons-rounded-box {
    margin-left: 50px;
}

div#timer,
#days,
#hours,
#minutes,
#seconds {
    display: inline-block;
    line-height: 1;
    padding: 20px;
    font-size: 40px;
}

.date-p {
    display: block;
    font-size: 20px;
    color: white;
}

div#timer>span {
    display: block;
    font-size: 20px;
    color: white;
}

#days {
    font-size: 50px;
    color: #db4844;
}

#hours {
    font-size: 50px;
    color: #f07c22;
}

#minutes {
    font-size: 50px;
    color: #f6da74;
}

#seconds {
    font-size: 25px;
    color: #abcd58;
}

p.pricing-menu {
    font-size: 18px;
    line-height: 35px;
    font-weight: 400;
    color: var(--e-global-color-grey-icons);
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;
}

#ticket-regular,
#ticket-earlybird {
    text-decoration: line-through !important;
}

.contact-us-section .contact-content .contact-parah {
    font-size: 15px !important;
}

@media screen and (max-width: 1199px) {
    .join-us {
        background: var(--e-global-color-btn-red) !important;
        line-height: 16px;
        color: var(--e-global-color-white) !important;
        padding: 18px 40px 17px 33px !important;
        display: inline-block;
        border-radius: 3px;
        font-weight: 600;
        text-decoration: none;
        text-align: center;
    }
    .join-us-box {
        display: inline-block;
    }
    .illuminati-img {
        margin: 0 !important;
        height: 200px !important;
        width: 200px !important;
        margin-bottom: 40px !important;
    }
    .banner-paragraph {
        font-size: 20px;
    }
    .artificial-text {
        font-size: 17px;
    }
    .icons-rounded-box {
        margin-left: 0px !important;
    }
    #IlluminatiPeople {
        width: inherit !important;
    }
    #IlluminatiPeople>img {
        width: 350px !important;
        height: 350px !important;
    }
}

#success-message {
    color: #198754;
    display: none;
}